<!DOCTYPE html>
  <html lang="en" x-data>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title ? `${title} - Endotracker` : 'Endotracker' }}</title>

    @vite(['resources/css/app.scss', 'resources/js/app.js'])
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <span class="navbar-brand">Endotracker</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @!component('components/nav-link', { title: 'Home', href: route('home'), isActive: request.url() == route('home') })
            @!component('components/nav-link', { title: 'Reports', href: route('reports.index'), isActive: request.url().startsWith(route('reports.index')) })
            @!component('components/nav-link', { title: 'Settings', href: route('settings.index'), isActive: request.url().startsWith(route('settings.index')) })
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      @flashMessage('notification')
        <div class="notification {{ $message.type }}">
          {{ $message.message }}
        </div>
      @end

      {{{ await $slots.main() }}}
    </main>
  </body>
</html>
