@import 'bootstrap/scss/bootstrap';

$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts/';
@import 'bootstrap-icons/font/bootstrap-icons.scss';

body {
  padding-bottom: 3rem;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

#template-sections fieldset:only-child .remove-section {
  display: none;
}

#template-sections ol li:only-child .remove-parameter {
  display: none;
}

input[inputmode="numeric"]:invalid {
  color: red;
}

input[inputmode="numeric"]:valid + .error span {
  display: none;
}

input[inputmode="numeric"]:invalid + .error span {
  display: inline-block;
  color: red;
}

.finding-result {
  min-width: 2ch;
}
