<p class="fs-4 mb-4 pb-1">Endotracker helps you keep track of your endocrinology lab reports over time</p>

<p class="w-75 mb-4 pb-1 fs-5 text-body-secondary">It's important to note that Endotracker <strong class="fw-bold"><em>does not</em></strong> replace professional medical advice, it is simply a tool to help you see your lab reports over time.</p>
<a href="{{route('setup.show', {}, { qs: { step: nextStep } }) }}" class="btn btn-primary btn-md d-block">I Understand</a>
